@tailwind base;
@tailwind components;
@tailwind utilities;

/* social sites base styles */

/* nav styles */
nav {
    @apply 
     bg-neutral-950 
     p-3;
}

nav a {
    @apply
     text-white 
     text-center 
     p-3 
     no-underline
    
}

nav a:hover{
    @apply
     text-emerald-700 
     text-center 
     p-3 
     no-underline;
}

/* Styling the button */
.resume-button {
    @apply 
    flex
    rounded
    outline 
    outline-1
     outline-emerald-700/40
     shadow-md
     brightness-125
     shadow-emerald-700;
}

/* Styling the Link inside the button */
.resume-button a {
    @apply 
     text-white 
     no-underline;
}

.resume-button a:hover {
    @apply 
     border-emerald-700
     no-underline;
}

.form-label-div {
    @apply
    relative
    z-0
    py-4    
}

.form-label{
    @apply
    absolute 
    text-sm 
    text-gray-500 
    dark:text-gray-400 
    duration-300 
    transform 
    -translate-y-6 
    scale-75 
    top-3 
    -z-10 
    origin-[0]
    capitalize
    font-mono 
}

.form-input{
    @apply
    block 
    py-2.5 
    px-0 
    w-full 
    text-sm
    text-gray-900 
    bg-transparent 
    border-0 
    border-b-2
    border-gray-300 
    appearance-none 
    dark:text-white 
    dark:border-gray-600 
    dark:focus:border-blue-500 
    focus:outline-none focus:ring-0
    focus:border-blue-600 
    capitalize
    font-mono
}

.form-button{
    @apply
    flex
    px-8 
    py-2.5 
    text-center 
    me-2 mb-2
    text-gray-900 
    hover:text-white 
    border 
    border-gray-800 
    hover:bg-gray-900 
    focus:ring-4 
    focus:outline-none 
    focus:ring-gray-300 
    font-medium 
    rounded-lg 
    text-sm 
    dark:border-gray-600 
    dark:text-gray-400 
    dark:hover:text-white 
    dark:hover:bg-gray-600 
    dark:focus:ring-gray-800
}

